/* Global styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url(1564417.jpg);
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(2px); /* Add blur effect */
    overflow: hidden;
}

/* Content section styles */
.content {
    text-align: center;
    position: relative;
    z-index: 1;
    color: rgb(255, 255, 255);
    padding: 20px;
    backdrop-filter: blur(2px); /* Add blur effect */
}

/* Title styles */
.big-font {
    font-size: 2.5em;
    animation: fadeIn 2s ease-in-out;
    color: aqua;
}

/* Fade in animation */
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/* Button styles */
.button-47 {
    padding: 10px 20px;
    background-color: #000000;
    color: #80cbdc;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: box-shadow 0.3s ease; /* Add smooth transition */
    position: relative;
    color: white;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    touch-action: manipulation;
    text-decoration: none;
}

/* Button hover styles */
.button-47:hover {
    background-color: #0056b3;
    box-shadow: 0 0 20px #007bff; /* Add glow effect */
}

/* Container styles */
.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Center align heading */
h1 {
    text-align: center;
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
}

/* Table cell styles */
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

/* Hover effect on table row */
tr:hover {
    background-color: #f5f5f5;
    color: black;
}
